<ion-view view-title="Home" align-title="left">
    <!--<ion-content style="background: url(img/bg2.svg) center; background-size: cover;">-->
    <ion-content ng-style="{ 'background-image': randBackground }">
        <div class="hero no-header flat">
            <div class="content">
                <div class="app-icon"></div>
                <div class="home-brand">
                    <b>R<span style="color:#D63333">3</span>VL <span style="font-weight:100">{</span><span style="color:#D63333; font-weight:100">BETA</span><span style="font-weight:100">}</span></b>
                </div>
            </div>
        </div>
        <div class="padding">
            <button ui-sref="main.join" class="button button-large button-full button-stable ink">Join a Party!</button>
        </div>
        <!--<div class="padding">
            <button ui-sref="app.create" class="button button-large button-full button-stable ink">Find Nearby Parties</button>
        </div>-->
        <div class="padding">
            <button ui-sref="main.create" class="button button-large button-full button-stable ink">Create a Party!</button>
        </div>
<!--         <div class="button-bar social-login">
            <button class="button button-small button-border icon-left ion-social-google button-assertive-900">Google+</button>
            <button class="button button-small button-border icon-left ion-social-twitter button-calm-900">Twitter</button>
            <button class="button button-small button-border icon-left ion-social-facebook button-positive-900">Facebook</button>
        </div> -->
    </ion-content>
</ion-view>
